/* screen - about */

.about {
  align-items: flex-start;
  background-color: var(--fantasy);
  display: flex;
  flex-direction: column;
  height: 1459px;
  overflow: hidden;
  width: 1920px;
}

.about .overlap-group3 {
  height: 1042px;
  position: relative;
  width: 1920px;
  z-index: 1;
}

.about .overlap-group6 {
  height: 1042px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.about .overlap-group4 {
  height: 843px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.about .overlap-group1 {
  height: 736px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.about .navbar {
  align-items: flex-end;
  background-color: var(--fantasy);
  display: flex;
  height: 161px;
  justify-content: flex-end;
  left: 0;
  min-width: 1920px;
  padding: 45px 53px;
  position: absolute;
  top: 0;
}

.about .portfolio {
  background-color: var(--cream-brulee-2);
  border-radius: 30px;
  box-shadow: 0px 3px 6px #00000029;
  cursor: pointer;
  display: flex;
  height: 66px;
  width: 180px;
}

.about .portfolio-1 {
  flex: 1;
  height: 48px;
  letter-spacing: 0;
  line-height: 38px;
  margin-left: 26px;
  margin-right: 24px;
  margin-top: 13px;
  white-space: nowrap;
}

.about .artwork {
  background-color: var(--cream-brulee-2);
  border-radius: 30px;
  box-shadow: 0px 3px 6px #00000029;
  cursor: pointer;
  display: flex;
  height: 66px;
  justify-content: flex-end;
  margin-left: 14px;
  width: 163px;
}

.about .artwork-1 {
  height: 48px;
  letter-spacing: 0;
  line-height: 38px;
  margin-right: 22px;
  margin-top: 13px;
  white-space: nowrap;
  width: 116px;
}

.about .resume {
  align-items: flex-end;
  background-color: var(--cream-brulee-2);
  border-radius: 30px;
  box-shadow: 0px 3px 6px #00000029;
  cursor: pointer;
  display: flex;
  height: 66px;
  justify-content: flex-end;
  margin-left: 14px;
  min-width: 163px;
  padding: 5px 23px;
}

.about .resume-1 {
  letter-spacing: 0;
  line-height: 38px;
  min-height: 48px;
  min-width: 114px;
  white-space: nowrap;
}

.about .about-1 {
  align-items: flex-end;
  background-color: var(--cream-brulee);
  border-radius: 33px;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  height: 66px;
  justify-content: flex-end;
  margin-left: 14px;
  min-width: 145px;
  padding: 5px 28px;
}

.about .about-2 {
  letter-spacing: 0;
  line-height: 38px;
  min-height: 48px;
  min-width: 86px;
  white-space: nowrap;
}

.about .about-3 {
  left: 827px;
  letter-spacing: -5.20px;
  line-height: 130px;
  position: absolute;
  text-align: center;
  top: 130px;
  white-space: nowrap;
}

.about .cheers-im-a-curren {
  height: 464px;
  left: 842px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  top: 272px;
  width: 714px;
}

.about .parispfp {
  border-radius: 16px;
  height: 592px;
  left: 231px;
  object-fit: cover;
  position: absolute;
  top: 251px;
  width: 444px;
}

.about .things-i-enjoy {
  color: var(--zeus);
  font-family: var(--font-family-pedestriamvb-medium);
  font-size: 45px;
  font-weight: 500;
  left: 902px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  top: 761px;
  width: 298px;
}

.about .plantscookingceramic-art {
  left: 992px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 834px;
  width: 211px;
}

.about .overlap-group5 {
  height: 208px;
  left: 1362px;
  position: absolute;
  top: 834px;
  width: 330px;
}

.about .overlap-group2 {
  height: 208px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 327px;
}

.about .rugbygoing-on-walk {
  left: 31px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 0;
  width: 296px;
}

.about .text-15 {
  height: 34px;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 172px;
  width: 32px;
}

.about .text-13 {
  height: 33px;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 9px;
  width: 30px;
}

.about .text-14 {
  height: 34px;
  left: 7px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 90px;
  width: 23px;
}

.about .text-16 {
  color: var(--dove-gray);
  font-family: var(--font-family-segoeui-regular);
  font-size: var(--font-size-l);
  font-weight: 400;
  height: 56px;
  left: 839px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 759px;
  width: 54px;
}

.about .flex-row {
  align-items: center;
  display: flex;
  height: 194px;
  left: 309px;
  min-width: 679px;
  position: absolute;
  top: 843px;
}

.about .flex-col {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 18.5px;
  min-height: 156px;
  width: 332px;
}

.about .lets-work-together {
  color: var(--zeus);
  font-family: var(--font-family-pedestriamvb-medium);
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -1.92px;
  line-height: 48px;
  min-height: 60px;
  min-width: 332px;
  text-align: center;
  white-space: nowrap;
}

.about .golpariu-michedu1-2022715982 {
  letter-spacing: -1.52px;
  line-height: 45px;
  margin-top: 4px;
  min-height: 93px;
  text-align: right;
  width: 299px;
}

.about .text-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 316px;
  min-height: 194px;
  width: 31px;
}

.about .text-10 {
  height: 33px;
  letter-spacing: 0;
  line-height: 20px;
  width: 31px;
}

.about .text-12 {
  height: 30px;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 1px;
  margin-top: 48px;
  width: 30px;
}

.about .text-11 {
  height: 32px;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 4px;
  margin-top: 51px;
  width: 27px;
}

.about .ga-home {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 97px;
  justify-content: center;
  left: 55px;
  min-width: 97px;
  position: fixed;
  top: 35px;
  z-index: 2;
}

.about .overlap-group {
  align-items: flex-end;
  background-image: url(../img/path-2-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 115px;
  justify-content: flex-end;
  margin-top: -6px;
  min-width: 115px;
  padding: 23.0px 31px;
}

.about .ga {
  letter-spacing: 0;
  line-height: 50px;
  min-height: 62px;
  min-width: 52px;
  white-space: nowrap;
}

.about .group-24 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -94.75px;
  margin-top: 65px;
  min-height: 319px;
  width: 2110px;
  z-index: 3;
}

.about .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 138px;
  width: 2114px;
}

.about .line-1 {
  height: 4px;
  object-fit: cover;
  width: 2114px;
}

.about .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-left: 285.75px;
  margin-top: 44px;
  min-width: 360px;
}

.about .navigate {
  letter-spacing: -1.52px;
  line-height: 38px;
  min-height: 48px;
  text-align: right;
  width: 129px;
}

.about .place {
  letter-spacing: -1.52px;
  line-height: 38px;
  margin-left: 104px;
  min-height: 48px;
  text-align: right;
  width: 127px;
}

.about .flex-row-2 {
  align-items: flex-end;
  display: flex;
  margin-left: 318.75px;
  margin-top: 1px;
  min-width: 450px;
}

.about .component-5-9 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 41px;
  width: 141px;
}

.about .place-1 {
  flex: 1;
  height: 38px;
  letter-spacing: -1.20px;
  line-height: 30px;
  margin-left: 15px;
  margin-right: -2px;
}

.about .washington-dc {
  height: 32px;
  letter-spacing: -1.20px;
  line-height: 30px;
  margin-left: 100px;
  white-space: nowrap;
  width: 209px;
}

.about .flex-row-3 {
  align-items: flex-start;
  display: flex;
  height: 180px;
  margin-left: 25.0px;
  margin-top: 5px;
  min-width: 1501px;
}

.about .component-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 178px;
  width: 176px;
}

.about .component-6-9 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 41px;
  width: 131px;
}

.about .portfolio-2 {
  flex: 1;
  height: 38px;
  letter-spacing: -1.20px;
  line-height: 30px;
  margin-left: 15px;
  margin-right: 10px;
}

.about .component-7-9 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 41px;
  margin-left: 2.0px;
  margin-top: 5px;
  width: 146px;
}

.about .artwork-2 {
  flex: 1;
  height: 38px;
  letter-spacing: -1.20px;
  line-height: 30px;
  margin-left: 13px;
  margin-right: -2px;
}

.about .component-8-9 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 41px;
  margin-left: 2.0px;
  margin-top: 4px;
  width: 174px;
}

.about .resume-2 {
  flex: 1;
  height: 38px;
  letter-spacing: -1.20px;
  line-height: 30px;
  margin-left: 13px;
  margin-right: -2px;
}

.about .component-9-9 {
  align-items: flex-end;
  display: flex;
  height: 41px;
  margin-left: 2.0px;
  margin-top: 5px;
  width: 111px;
}

.about .about-4 {
  flex: 1;
  height: 38px;
  letter-spacing: -1.20px;
  line-height: 30px;
  margin-left: 13px;
  margin-right: -2px;
}

.about .email-golpariu-mich {
  height: 98px;
  letter-spacing: -1.20px;
  line-height: 35px;
  margin-left: 65px;
  margin-top: 10.5px;
  width: 362px;
}

.about .golpari-abari-september-2022 {
  align-self: flex-end;
  height: 24px;
  letter-spacing: -0.80px;
  line-height: 20px;
  margin-left: 634px;
  white-space: nowrap;
  width: 264px;
}
