/* screen - grooves */

.grooves {
  align-items: center;
  background-color: var(--fantasy);
  display: flex;
  flex-direction: column;
  height: 2525px;
  overflow: hidden;
  width: 1920px;
}

.grooves .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 1018px;
  width: 1920px;
}

.grooves .overlap-group3 {
  height: 161px;
  position: relative;
  width: 1920px;
}

.grooves .navbar {
  align-items: flex-end;
  background-color: var(--fantasy);
  display: flex;
  height: 161px;
  justify-content: flex-end;
  left: 0;
  min-width: 1920px;
  padding: 45px 53px;
  position: absolute;
  top: 0;
}

.grooves .portfolio {
  background-color: var(--cream-brulee);
  border-radius: 30px;
  box-shadow: 0px 3px 6px #00000029;
  cursor: pointer;
  display: flex;
  height: 66px;
  width: 180px;
}

.grooves .portfolio-1 {
  flex: 1;
  height: 48px;
  letter-spacing: 0;
  line-height: 38px;
  margin-left: 26px;
  margin-right: 24px;
  margin-top: 13px;
  white-space: nowrap;
}

.grooves .artwork {
  background-color: var(--cream-brulee);
  border-radius: 30px;
  box-shadow: 0px 3px 6px #00000029;
  cursor: pointer;
  display: flex;
  height: 66px;
  justify-content: flex-end;
  margin-left: 14px;
  width: 163px;
}

.grooves .artwork-1 {
  height: 48px;
  letter-spacing: 0;
  line-height: 38px;
  margin-right: 22px;
  margin-top: 13px;
  white-space: nowrap;
  width: 116px;
}

.grooves .resume {
  align-items: flex-end;
  background-color: var(--cream-brulee);
  border-radius: 30px;
  box-shadow: 0px 3px 6px #00000029;
  cursor: pointer;
  display: flex;
  height: 66px;
  justify-content: flex-end;
  margin-left: 14px;
  min-width: 163px;
  padding: 5px 23px;
}

.grooves .resume-1 {
  letter-spacing: 0;
  line-height: 38px;
  min-height: 48px;
  min-width: 114px;
  white-space: nowrap;
}

.grooves .about {
  align-items: flex-end;
  background-color: var(--cream-brulee);
  border-radius: 33px;
  box-shadow: 0px 3px 6px #00000029;
  cursor: pointer;
  display: flex;
  height: 66px;
  justify-content: flex-end;
  margin-left: 14px;
  min-width: 145px;
  padding: 5px 28px;
}

.grooves .about-1 {
  letter-spacing: 0;
  line-height: 38px;
  min-height: 48px;
  min-width: 86px;
  white-space: nowrap;
}

.grooves .ga-home {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 97px;
  justify-content: center;
  left: 55px;
  min-width: 97px;
  position: absolute;
  top: 35px;
}

.grooves .overlap-group {
  align-items: flex-end;
  background-image: url(../img/path-2-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 115px;
  justify-content: flex-end;
  margin-top: -6px;
  min-width: 115px;
  padding: 23.0px 31px;
}

.grooves .ga {
  letter-spacing: 0;
  line-height: 50px;
  min-height: 62px;
  min-width: 52px;
  white-space: nowrap;
}

.grooves .flex-row {
  align-items: flex-start;
  display: flex;
  height: 846px;
  margin-right: 9.0px;
  margin-top: 10px;
  min-width: 1577px;
}

.grooves .grooveslog-container {
  align-self: flex-end;
  height: 720px;
  position: relative;
  width: 567px;
}

.grooves .grooveslogin {
  border-radius: 58px;
  height: 686px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 387px;
}

.grooves .grooveslogo {
  height: 329px;
  left: 238px;
  object-fit: cover;
  position: absolute;
  top: 391px;
  width: 329px;
}

.grooves .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  min-height: 733px;
  width: 1005px;
}

.grooves .overlap-group1 {
  height: 180px;
  position: relative;
  width: 445px;
}

.grooves .grooves-1 {
  left: 42px;
  letter-spacing: -5.20px;
  line-height: 130px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.grooves .name {
  height: 46px;
  left: 0;
  letter-spacing: -1.60px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 134px;
  white-space: nowrap;
  width: 445px;
}

.grooves .background {
  height: 51px;
  letter-spacing: -2.40px;
  line-height: 60px;
  margin-bottom: -9px;
  margin-left: 89px;
  margin-top: 58px;
  white-space: nowrap;
}

.grooves .ann-arbor-has-a-dive {
  align-self: flex-end;
  letter-spacing: -1.52px;
  line-height: 45px;
  margin-top: 36px;
  min-height: 408px;
  width: 861px;
}

.grooves .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 882px;
  margin-left: 46.0px;
  margin-top: 188px;
  min-width: 1574px;
}

.grooves .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 808px;
  width: 1006px;
}

.grooves .work {
  height: 46px;
  letter-spacing: -2.40px;
  line-height: 60px;
  margin-bottom: -14px;
  white-space: nowrap;
}

.grooves .grooves-intention-i {
  align-self: flex-end;
  letter-spacing: -1.52px;
  line-height: 45px;
  margin-top: 38px;
  min-height: 723px;
  width: 925px;
}

.grooves .groovescal {
  align-self: flex-end;
  border-radius: 92px;
  height: 847px;
  margin-left: 94px;
  object-fit: cover;
  width: 474px;
}

.grooves .group-24 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 85px;
  min-height: 319px;
  width: 2110px;
}

.grooves .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 138px;
  width: 2114px;
}

.grooves .line-1 {
  height: 4px;
  object-fit: cover;
  width: 2114px;
}

.grooves .flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-left: 285.75px;
  margin-top: 44px;
  min-width: 360px;
}

.grooves .navigate {
  letter-spacing: -1.52px;
  line-height: 38px;
  min-height: 48px;
  text-align: right;
  width: 129px;
}

.grooves .place {
  letter-spacing: -1.52px;
  line-height: 38px;
  margin-left: 104px;
  min-height: 48px;
  text-align: right;
  width: 127px;
}

.grooves .flex-row-3 {
  align-items: flex-end;
  display: flex;
  margin-left: 318.75px;
  margin-top: 1px;
  min-width: 450px;
}

.grooves .component-5-15 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 41px;
  width: 141px;
}

.grooves .place-1 {
  flex: 1;
  height: 38px;
  letter-spacing: -1.20px;
  line-height: 30px;
  margin-left: 15px;
  margin-right: -2px;
}

.grooves .washington-dc {
  height: 32px;
  letter-spacing: -1.20px;
  line-height: 30px;
  margin-left: 100px;
  white-space: nowrap;
  width: 209px;
}

.grooves .flex-row-4 {
  align-items: flex-start;
  display: flex;
  height: 180px;
  margin-left: 25.0px;
  margin-top: 5px;
  min-width: 1501px;
}

.grooves .component-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 178px;
  width: 176px;
}

.grooves .component-6-15 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 41px;
  width: 131px;
}

.grooves .portfolio-2 {
  flex: 1;
  height: 38px;
  letter-spacing: -1.20px;
  line-height: 30px;
  margin-left: 15px;
  margin-right: 10px;
}

.grooves .component-7-15 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 41px;
  margin-left: 2.0px;
  margin-top: 5px;
  width: 146px;
}

.grooves .artwork-2 {
  flex: 1;
  height: 38px;
  letter-spacing: -1.20px;
  line-height: 30px;
  margin-left: 13px;
  margin-right: -2px;
}

.grooves .component-8-15 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 41px;
  margin-left: 2.0px;
  margin-top: 4px;
  width: 174px;
}

.grooves .resume-2 {
  flex: 1;
  height: 38px;
  letter-spacing: -1.20px;
  line-height: 30px;
  margin-left: 13px;
  margin-right: -2px;
}

.grooves .component-9-15 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 41px;
  margin-left: 2.0px;
  margin-top: 5px;
  width: 111px;
}

.grooves .about-2 {
  flex: 1;
  height: 38px;
  letter-spacing: -1.20px;
  line-height: 30px;
  margin-left: 13px;
  margin-right: -2px;
}

.grooves .email-golpariu-mich {
  height: 98px;
  letter-spacing: -1.20px;
  line-height: 35px;
  margin-left: 65px;
  margin-top: 10.5px;
  width: 362px;
}

.grooves .golpari-abari-september-2022 {
  align-self: flex-end;
  height: 24px;
  letter-spacing: -0.80px;
  line-height: 20px;
  margin-left: 634px;
  white-space: nowrap;
  width: 264px;
}
