/* screen - homeindex */

.homeindex {
  align-items: center;
  background-color: var(--fantasy);
  display: flex;
  flex-direction: column;
  height: 4755px;
  overflow: hidden;
  width: 1920px;
}

.homeindex .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 3143px;
  width: 1920px;
}

.homeindex .overlap-group5 {
  height: 161px;
  position: relative;
  width: 1920px;
}

.homeindex .overlap-group3 {
  align-items: flex-end;
  background-image: url(../img/path-2-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 115px;
  justify-content: flex-end;
  left: 46px;
  min-width: 115px;
  padding: 23.0px 31px;
  position: absolute;
  top: 29px;
}

.homeindex .ga {
  letter-spacing: 0;
  line-height: 50px;
  min-height: 62px;
  min-width: 52px;
  white-space: nowrap;
}

.homeindex .navbar {
  align-items: flex-end;
  background-color: var(--fantasy);
  display: flex;
  height: 161px;
  justify-content: flex-end;
  left: 0;
  min-width: 1920px;
  padding: 45px 53px;
  position: absolute;
  top: 0;
}

.homeindex .portfolio {
  background-color: var(--cream-brulee);
  border-radius: 30px;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  height: 66px;
  width: 180px;
}

.homeindex .portfolio-1 {
  flex: 1;
  height: 48px;
  letter-spacing: 0;
  line-height: 38px;
  margin-left: 26px;
  margin-right: 24px;
  margin-top: 13px;
  white-space: nowrap;
}

.homeindex .artwork {
  background-color: var(--cream-brulee);
  border-radius: 30px;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  height: 66px;
  justify-content: flex-end;
  margin-left: 14px;
  width: 163px;
}

.homeindex .artwork-1 {
  height: 48px;
  letter-spacing: 0;
  line-height: 38px;
  margin-right: 22px;
  margin-top: 13px;
  white-space: nowrap;
  width: 116px;
}

.homeindex .resume {
  align-items: flex-end;
  background-color: var(--cream-brulee);
  border-radius: 30px;
  box-shadow: 0px 3px 6px #00000029;
  cursor: pointer;
  display: flex;
  height: 66px;
  justify-content: flex-end;
  margin-left: 14px;
  min-width: 163px;
  padding: 5px 23px;
}

.homeindex .resume-1 {
  letter-spacing: 0;
  line-height: 38px;
  min-height: 48px;
  min-width: 114px;
  white-space: nowrap;
}

.homeindex .about {
  align-items: flex-end;
  background-color: var(--cream-brulee);
  border-radius: 33px;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  height: 66px;
  justify-content: flex-end;
  margin-left: 14px;
  min-width: 145px;
  padding: 5px 28px;
}

.homeindex .about-1 {
  letter-spacing: 0;
  line-height: 38px;
  min-height: 48px;
  min-width: 86px;
  white-space: nowrap;
}

.homeindex .overlap-group7 {
  height: 322px;
  margin-left: 2.0px;
  margin-top: 182px;
  position: relative;
  width: 1290px;
}

.homeindex .title {
  color: var(--zeus);
  font-family: var(--font-family-pedestriamvb-bold);
  font-size: 251px;
  font-weight: 700;
  left: 0;
  letter-spacing: -10.04px;
  line-height: 251px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.homeindex .developer-artist-designer {
  color: var(--zeus);
  font-family: var(--font-family-pedestriamvb-regular);
  font-size: 74px;
  font-weight: 400;
  left: 252px;
  letter-spacing: 0;
  line-height: 74px;
  position: absolute;
  text-align: center;
  top: 232px;
  white-space: nowrap;
}

.homeindex .overlap-group-1 {
  height: 192px;
  margin-left: 0;
  margin-top: 173px;
  position: relative;
  width: 87px;
}

.homeindex .polygon-1 {
  height: 52px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 140px;
  width: 87px;
}

.homeindex .path-1 {
  height: 177px;
  left: 23px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 61px;
}

.homeindex .portfolio-2 {
  letter-spacing: -5.20px;
  line-height: 130px;
  margin-left: 2.0px;
  margin-top: 150px;
  min-height: 159px;
  min-width: 398px;
  text-align: center;
  white-space: nowrap;
}

.homeindex .component-container {
  align-items: center;
  display: flex;
  margin-right: 6.0px;
  margin-top: 2px;
  min-width: 1578px;
}

.homeindex .component-17-1 {
  align-self: flex-end;
  cursor: pointer;
  display: flex;
  height: 364px;
  margin-bottom: 16px;
  width: 663px;
}

.homeindex .group-2 {
  background-color: #f6f6f6;
  border-radius: 120px;
  box-shadow: -10px 10px 12px #00000029;
  display: flex;
  flex: 1;
  margin-left: 3px;
  width: 660px;
}

.homeindex .untitled-design-3 {
  flex: 1;
  margin-bottom: 7px;
  margin-left: 26px;
  margin-right: 46px;
  margin-top: 26px;
  object-fit: cover;
  width: 588px;
}

.homeindex .component-18-1 {
  cursor: pointer;
  display: flex;
  height: 416px;
  margin-bottom: 1.0px;
  margin-left: 46px;
  width: 416px;
}

.homeindex .image-1 {
  border-radius: 76px;
  flex: 1;
  margin-bottom: -28px;
  margin-left: -18px;
  margin-right: -18px;
  margin-top: -8px;
  object-fit: cover;
  width: 452px;
}

.homeindex .component-19-1 {
  cursor: pointer;
  display: flex;
  height: 447px;
  margin-left: 50px;
  width: 403px;
}

.homeindex .spaceinvaders {
  border-radius: 25px;
  flex: 1;
  margin-bottom: -28px;
  margin-left: -8px;
  margin-right: -28px;
  margin-top: -8px;
  object-fit: cover;
  width: 439px;
}

.homeindex .flex-row {
  align-items: flex-end;
  display: flex;
  margin-right: 3.0px;
  margin-top: 6px;
  min-width: 1581px;
}

.homeindex .component-20-1 {
  cursor: pointer;
  display: flex;
  height: 238px;
  width: 1031px;
}

.homeindex .image-3 {
  border-radius: 82px;
  flex: 1;
  margin-bottom: -28px;
  margin-left: -28px;
  margin-right: -8px;
  margin-top: -8px;
  object-fit: cover;
  width: 1067px;
}

.homeindex .overlap-group4 {
  align-items: flex-start;
  background-image: url(../img/path-6-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 249px;
  margin-bottom: -28px;
  margin-left: 47px;
  min-width: 531px;
  padding: 85px 58px;
}

.homeindex .more-coming-soon {
  letter-spacing: -2.00px;
  line-height: 50px;
  min-height: 62px;
  text-align: center;
  width: 398px;
}

.homeindex .artwork-2 {
  letter-spacing: -5.20px;
  line-height: 130px;
  margin-top: 202px;
  min-height: 159px;
  min-width: 360px;
  text-align: center;
  white-space: nowrap;
}

.homeindex .artwork-slideshow {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 0;
  margin-top: 4px;
  min-height: 746px;
  width: 1753px;
}

.homeindex .group-23 {
  align-items: flex-end;
  display: flex;
  margin-right: 0.9px;
  min-width: 778px;
}

.homeindex .portfolio-3 {
  align-items: flex-end;
  background-color: var(--cream-brulee);
  border-radius: 30px;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  height: 66px;
  justify-content: flex-end;
  margin-bottom: 0;
  min-width: 143px;
  padding: 5px 23px;
}

.homeindex .acrylic {
  letter-spacing: 0;
  line-height: 38px;
  min-height: 48px;
  min-width: 95px;
  white-space: nowrap;
}

.homeindex .portfolio-4 {
  align-items: flex-end;
  background-color: var(--cream-brulee-2);
  border-radius: 30px;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  height: 66px;
  margin-bottom: 0;
  margin-left: 54px;
  width: 248px;
}

.homeindex .drawn-digital {
  flex: 1;
  height: 48px;
  letter-spacing: 0;
  line-height: 38px;
  margin-bottom: 3px;
  margin-left: 30px;
  margin-right: 28px;
  white-space: nowrap;
}

.homeindex .portfolio-5 {
  align-items: flex-end;
  background-color: var(--cream-brulee-2);
  border-radius: 30px;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  height: 66px;
  margin-bottom: 0;
  margin-left: 54px;
  width: 279px;
}

.homeindex .media-graphics {
  flex: 1;
  height: 48px;
  letter-spacing: 0;
  line-height: 38px;
  margin-bottom: 5px;
  margin-left: 31.5px;
  margin-right: 29.5px;
  white-space: nowrap;
}

.homeindex .overlap-group2 {
  height: 621px;
  margin-top: 59px;
  position: relative;
  width: 1753px;
}

.homeindex .component-11-1 {
  display: flex;
  height: 621px;
  left: 826px;
  position: absolute;
  top: 0;
  width: 717px;
}

.homeindex .barn {
  border-radius: 11px;
  flex: 1;
  margin-bottom: -28px;
  margin-left: -8px;
  margin-right: -28px;
  margin-top: -7px;
  object-fit: cover;
  width: 753px;
}

.homeindex .group-8 {
  display: flex;
  height: 118px;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 252px;
  width: 1753px;
}

.homeindex .group-3 {
  align-items: flex-start;
  display: flex;
  min-width: 78.84px;
  opacity: 0.2;
}

.homeindex .overlap-group {
  height: 118px;
  position: relative;
  width: 79px;
}

.homeindex .rectangle-10 {
  background-color: var(--zeus);
  border-radius: 28px;
  height: 84px;
  left: 26px;
  position: absolute;
  top: -3px;
  transform: rotate(45.00deg);
  width: 28px;
}

.homeindex .rectangle-11 {
  background-color: var(--zeus);
  border-radius: 28px;
  height: 84px;
  left: 26px;
  position: absolute;
  top: 37px;
  transform: rotate(-45.00deg);
  width: 28px;
}

.homeindex .group-4 {
  align-items: flex-start;
  display: flex;
  min-width: 78.84px;
  transform: rotate(180deg);
}

.homeindex .component-10-1 {
  display: flex;
  height: 621px;
  left: 209px;
  position: absolute;
  top: 0;
  width: 556px;
}

.homeindex .tulip-cropped {
  border-radius: 19px;
  flex: 1;
  margin-bottom: -28px;
  margin-left: -28px;
  margin-right: -8px;
  margin-top: -7px;
  object-fit: cover;
  width: 592px;
}

.homeindex .flex-row-1 {
  align-items: flex-end;
  display: flex;
  height: 924px;
  margin-left: 3.0px;
  margin-top: 210px;
  min-width: 1461px;
}

.homeindex .flex-col-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 14.5px;
  min-height: 776px;
  width: 444px;
}

.homeindex .parispfp {
  border-radius: 16px;
  height: 592px;
  object-fit: cover;
  width: 444px;
}

.homeindex .lets-work-together {
  align-self: center;
  color: var(--zeus);
  font-family: var(--font-family-pedestriamvb-medium);
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -1.92px;
  line-height: 48px;
  margin-left: 44.0px;
  margin-top: 28px;
  min-height: 60px;
  min-width: 332px;
  text-align: center;
  white-space: nowrap;
}

.homeindex .golpariu-michedu1-2022715982 {
  letter-spacing: -1.52px;
  line-height: 45px;
  margin-right: 34px;
  margin-top: 4px;
  min-height: 93px;
  text-align: right;
  width: 299px;
}

.homeindex .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 152px;
  min-height: 924px;
  width: 865px;
}

.homeindex .overlap-group5-1 {
  height: 618px;
  position: relative;
  width: 729px;
}

.homeindex .about-2 {
  left: 0;
  letter-spacing: -5.20px;
  line-height: 130px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.homeindex .cheers-im-a-curren {
  height: 464px;
  left: 15px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  top: 154px;
  width: 714px;
}

.homeindex .flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 58px;
  margin-left: 12px;
  margin-top: 24px;
  min-width: 361px;
}

.homeindex .text-7 {
  color: var(--dove-gray);
  font-family: var(--font-family-segoeui-regular);
  font-size: var(--font-size-l);
  font-weight: 400;
  height: 56px;
  letter-spacing: 0;
  line-height: 40px;
  width: 54px;
}

.homeindex .things-i-enjoy {
  align-self: flex-end;
  color: var(--zeus);
  font-family: var(--font-family-pedestriamvb-medium);
  font-size: 45px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 45px;
  margin-left: 9px;
  min-height: 56px;
  width: 298px;
}

.homeindex .flex-row-3 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  margin-top: 17px;
  min-width: 735px;
}

.homeindex .text-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 4.0px;
  min-height: 194px;
  width: 31px;
}

.homeindex .text-1 {
  height: 33px;
  letter-spacing: 0;
  line-height: 20px;
  width: 31px;
}

.homeindex .text-3 {
  height: 30px;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 1px;
  margin-top: 48px;
  width: 30px;
}

.homeindex .text-2 {
  height: 32px;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 4px;
  margin-top: 51px;
  width: 27px;
}

.homeindex .plantscookingceramic-art {
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 4px;
  min-height: 208px;
  width: 211px;
}

.homeindex .overlap-group8 {
  height: 208px;
  margin-left: 159px;
  position: relative;
  width: 330px;
}

.homeindex .overlap-group6 {
  height: 208px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 327px;
}

.homeindex .rugbygoing-on-walk {
  left: 31px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 0;
  width: 296px;
}

.homeindex .text-6 {
  height: 34px;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 172px;
  width: 32px;
}

.homeindex .text-4 {
  height: 33px;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 9px;
  width: 30px;
}

.homeindex .text-5 {
  height: 34px;
  left: 7px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 90px;
  width: 23px;
}

.homeindex .group-24 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 125px;
  min-height: 319px;
  width: 2110px;
}

.homeindex .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 138px;
  width: 2114px;
}

.homeindex .line-1 {
  height: 4px;
  object-fit: cover;
  width: 2114px;
}

.homeindex .flex-row-4 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-left: 285.75px;
  margin-top: 44px;
  min-width: 360px;
}

.homeindex .navigate {
  letter-spacing: -1.52px;
  line-height: 38px;
  min-height: 48px;
  text-align: right;
  width: 129px;
}

.homeindex .place {
  letter-spacing: -1.52px;
  line-height: 38px;
  margin-left: 104px;
  min-height: 48px;
  text-align: right;
  width: 127px;
}

.homeindex .flex-row-5 {
  align-items: flex-end;
  display: flex;
  margin-left: 318.75px;
  margin-top: 1px;
  min-width: 450px;
}

.homeindex .component-5-1 {
  align-items: flex-end;
  display: flex;
  height: 41px;
  width: 141px;
}

.homeindex .place-1 {
  flex: 1;
  height: 38px;
  letter-spacing: -1.20px;
  line-height: 30px;
  margin-left: 15px;
  margin-right: -2px;
}

.homeindex .washington-dc {
  height: 32px;
  letter-spacing: -1.20px;
  line-height: 30px;
  margin-left: 100px;
  white-space: nowrap;
  width: 209px;
}

.homeindex .flex-row-6 {
  align-items: flex-start;
  display: flex;
  height: 180px;
  margin-left: 25.0px;
  margin-top: 5px;
  min-width: 1501px;
}

.homeindex .component-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 178px;
  width: 176px;
}

.homeindex .component-6-1 {
  align-items: flex-end;
  display: flex;
  height: 41px;
  width: 131px;
}

.homeindex .portfolio-6 {
  flex: 1;
  height: 38px;
  letter-spacing: -1.20px;
  line-height: 30px;
  margin-left: 15px;
  margin-right: 10px;
}

.homeindex .component-7-1 {
  align-items: flex-end;
  display: flex;
  height: 41px;
  margin-left: 2.0px;
  margin-top: 5px;
  width: 146px;
}

.homeindex .artwork-3 {
  flex: 1;
  height: 38px;
  letter-spacing: -1.20px;
  line-height: 30px;
  margin-left: 13px;
  margin-right: -2px;
}

.homeindex .component-8-1 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 41px;
  margin-left: 2.0px;
  margin-top: 4px;
  width: 174px;
}

.homeindex .resume-2 {
  flex: 1;
  height: 38px;
  letter-spacing: -1.20px;
  line-height: 30px;
  margin-left: 13px;
  margin-right: -2px;
}

.homeindex .component-9-1 {
  align-items: flex-end;
  display: flex;
  height: 41px;
  margin-left: 2.0px;
  margin-top: 5px;
  width: 111px;
}

.homeindex .about-3 {
  flex: 1;
  height: 38px;
  letter-spacing: -1.20px;
  line-height: 30px;
  margin-left: 13px;
  margin-right: -2px;
}

.homeindex .email-golpariu-mich {
  height: 98px;
  letter-spacing: -1.20px;
  line-height: 35px;
  margin-left: 65px;
  margin-top: 10.5px;
  width: 362px;
}

.homeindex .golpari-abari-september-2022 {
  align-self: flex-end;
  height: 24px;
  letter-spacing: -0.80px;
  line-height: 20px;
  margin-left: 634px;
  white-space: nowrap;
  width: 264px;
}
