/* screen - jhuapl */

.jhuapl {
  align-items: flex-start;
  background-color: var(--fantasy);
  display: flex;
  flex-direction: column;
  height: 2236px;
  overflow: hidden;
  width: 1920px;
}

.jhuapl .overlap-group-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 1042px;
  width: 1920px;
}

.jhuapl .overlap-group3 {
  height: 161px;
  position: relative;
  width: 1920px;
}

.jhuapl .navbar {
  align-items: flex-end;
  background-color: var(--fantasy);
  display: flex;
  height: 161px;
  justify-content: flex-end;
  left: 0;
  min-width: 1920px;
  padding: 45px 53px;
  position: absolute;
  top: 0;
}

.jhuapl .portfolio {
  background-color: var(--cream-brulee);
  border-radius: 30px;
  box-shadow: 0px 3px 6px #00000029;
  cursor: pointer;
  display: flex;
  height: 66px;
  width: 180px;
}

.jhuapl .portfolio-1 {
  flex: 1;
  height: 48px;
  letter-spacing: 0;
  line-height: 38px;
  margin-left: 26px;
  margin-right: 24px;
  margin-top: 13px;
  white-space: nowrap;
}

.jhuapl .artwork {
  background-color: var(--cream-brulee);
  border-radius: 30px;
  box-shadow: 0px 3px 6px #00000029;
  cursor: pointer;
  display: flex;
  height: 66px;
  justify-content: flex-end;
  margin-left: 14px;
  width: 163px;
}

.jhuapl .artwork-1 {
  height: 48px;
  letter-spacing: 0;
  line-height: 38px;
  margin-right: 22px;
  margin-top: 13px;
  white-space: nowrap;
  width: 116px;
}

.jhuapl .resume {
  align-items: flex-end;
  background-color: var(--cream-brulee);
  border-radius: 30px;
  box-shadow: 0px 3px 6px #00000029;
  cursor: pointer;
  display: flex;
  height: 66px;
  justify-content: flex-end;
  margin-left: 14px;
  min-width: 163px;
  padding: 5px 23px;
}

.jhuapl .resume-1 {
  letter-spacing: 0;
  line-height: 38px;
  min-height: 48px;
  min-width: 114px;
  white-space: nowrap;
}

.jhuapl .about {
  align-items: flex-end;
  background-color: var(--cream-brulee);
  border-radius: 33px;
  box-shadow: 0px 3px 6px #00000029;
  cursor: pointer;
  display: flex;
  height: 66px;
  justify-content: flex-end;
  margin-left: 14px;
  min-width: 145px;
  padding: 5px 28px;
}

.jhuapl .about-1 {
  letter-spacing: 0;
  line-height: 38px;
  min-height: 48px;
  min-width: 86px;
  white-space: nowrap;
}

.jhuapl .ga-home {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 97px;
  justify-content: center;
  left: 55px;
  min-width: 97px;
  position: absolute;
  top: 35px;
}

.jhuapl .overlap-group {
  align-items: flex-end;
  background-image: url(../img/path-2-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 115px;
  justify-content: flex-end;
  margin-top: -6px;
  min-width: 115px;
  padding: 23.0px 31px;
}

.jhuapl .ga {
  letter-spacing: 0;
  line-height: 50px;
  min-height: 62px;
  min-width: 52px;
  white-space: nowrap;
}

.jhuapl .overlap-group2 {
  height: 870px;
  margin-right: 119.0px;
  margin-top: 10px;
  position: relative;
  width: 1491px;
}

.jhuapl .overlap-group1 {
  height: 870px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1396px;
}

.jhuapl .applied-physics-laboratory {
  left: 217px;
  letter-spacing: -5.20px;
  line-height: 130px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.jhuapl .surname {
  height: 46px;
  left: 584px;
  letter-spacing: -1.60px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 144px;
  white-space: nowrap;
  width: 445px;
}

.jhuapl .robotarm {
  height: 762px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 108px;
  width: 592px;
}

.jhuapl .background {
  height: 52px;
  left: 673px;
  letter-spacing: -2.40px;
  line-height: 60px;
  position: absolute;
  top: 238px;
  white-space: nowrap;
  width: 298px;
}

.jhuapl .the-johns-hopkins-ap {
  left: 728px;
  letter-spacing: -1.52px;
  line-height: 45px;
  position: absolute;
  top: 325px;
  width: 763px;
}

.jhuapl .flex-row {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-right: 27.0px;
  margin-top: 156px;
  min-width: 1501px;
}

.jhuapl .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  min-height: 566px;
  width: 957px;
}

.jhuapl .work {
  height: 46px;
  letter-spacing: -2.40px;
  line-height: 60px;
  margin-bottom: -14px;
  white-space: nowrap;
}

.jhuapl .under-my-research-pr {
  align-self: flex-end;
  letter-spacing: -1.52px;
  line-height: 45px;
  margin-top: 68px;
  min-height: 453px;
  width: 879px;
}

.jhuapl .robotarm2 {
  height: 675px;
  margin-left: 140px;
  object-fit: cover;
  width: 404px;
}

.jhuapl .group-24 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -171.75px;
  margin-top: 11px;
  min-height: 319px;
  width: 2110px;
}

.jhuapl .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 138px;
  width: 2114px;
}

.jhuapl .line-1 {
  height: 4px;
  object-fit: cover;
  width: 2114px;
}

.jhuapl .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-left: 285.75px;
  margin-top: 44px;
  min-width: 360px;
}

.jhuapl .navigate {
  letter-spacing: -1.52px;
  line-height: 38px;
  min-height: 48px;
  text-align: right;
  width: 129px;
}

.jhuapl .place {
  letter-spacing: -1.52px;
  line-height: 38px;
  margin-left: 104px;
  min-height: 48px;
  text-align: right;
  width: 127px;
}

.jhuapl .flex-row-2 {
  align-items: flex-end;
  display: flex;
  margin-left: 318.75px;
  margin-top: 1px;
  min-width: 450px;
}

.jhuapl .component-5-18 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 41px;
  width: 141px;
}

.jhuapl .place-1 {
  flex: 1;
  height: 38px;
  letter-spacing: -1.20px;
  line-height: 30px;
  margin-left: 15px;
  margin-right: -2px;
}

.jhuapl .washington-dc {
  height: 32px;
  letter-spacing: -1.20px;
  line-height: 30px;
  margin-left: 100px;
  white-space: nowrap;
  width: 209px;
}

.jhuapl .flex-row-3 {
  align-items: flex-start;
  display: flex;
  height: 180px;
  margin-left: 25.0px;
  margin-top: 5px;
  min-width: 1501px;
}

.jhuapl .component-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 178px;
  width: 176px;
}

.jhuapl .component-6-18 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 41px;
  width: 131px;
}

.jhuapl .portfolio-2 {
  flex: 1;
  height: 38px;
  letter-spacing: -1.20px;
  line-height: 30px;
  margin-left: 15px;
  margin-right: 10px;
}

.jhuapl .component-7-18 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 41px;
  margin-left: 2.0px;
  margin-top: 5px;
  width: 146px;
}

.jhuapl .artwork-2 {
  flex: 1;
  height: 38px;
  letter-spacing: -1.20px;
  line-height: 30px;
  margin-left: 13px;
  margin-right: -2px;
}

.jhuapl .component-8-18 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 41px;
  margin-left: 2.0px;
  margin-top: 4px;
  width: 174px;
}

.jhuapl .resume-2 {
  flex: 1;
  height: 38px;
  letter-spacing: -1.20px;
  line-height: 30px;
  margin-left: 13px;
  margin-right: -2px;
}

.jhuapl .component-9-18 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 41px;
  margin-left: 2.0px;
  margin-top: 5px;
  width: 111px;
}

.jhuapl .about-2 {
  flex: 1;
  height: 38px;
  letter-spacing: -1.20px;
  line-height: 30px;
  margin-left: 13px;
  margin-right: -2px;
}

.jhuapl .email-golpariu-mich {
  height: 98px;
  letter-spacing: -1.20px;
  line-height: 35px;
  margin-left: 65px;
  margin-top: 10.5px;
  width: 362px;
}

.jhuapl .golpari-abari-september-2022 {
  align-self: flex-end;
  height: 24px;
  letter-spacing: -0.80px;
  line-height: 20px;
  margin-left: 634px;
  white-space: nowrap;
  width: 264px;
}
