/* CSS Stylesheet */

ul #navbar{
    list-style-type: none;
    padding: 0;
    background-color: #CA6702;
    position: fixed;
    top: 0;
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    padding: 10;
}

li {
    float: right;
    padding-top: 5;
    padding-bottom: 5;
    padding-left: 10;
    padding-right: 10;
    list-style-type: none;
}

/* Change the navbar text color to red on hover */
li a:hover {
    background-color: #9B2226;
}

#title {
    font-family: "Inconsolata";
    text-align: center;
    font-size: 200;
    font-weight: bolder;
    color: #EE9B00;
}

h1 {
    background-color: #005F73;  
    width: 100%;
    height: 100vh; 
}

footer {
    text-align: center;
    width: 100%;
    background-color: #CA6702;
    padding: 10;
    position: fixed;
    padding: 10;
}