ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: beige;
    position: fixed;
    top: 0;
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: right;
}

a {
    display: block;
    padding: 8px;
    background-color: burlywood;
    color: blue;
}