/*Zoom Image Styling*/

body {
    height: 300vh;
    width: 100%;
    margin: 0;
    display: block;
    align-items: flex-start; /* Align items to the top */
    justify-content: left;
    background: linear-gradient(green, 50%, #152b19);

}

.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container img {
    position: absolute;
    top: 0; /* Ensure images start from the top */
    left: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    
}

main {
    background: linear-gradient(green, 1%, #152b19);
}
