/*edit colors easily here!*/
:root {
    --transition: all 300ms ease-in-out;
    --base-color: rgb(22, 22, 22);
    --base-color-faded: rgba(22, 22, 22, 0.5);
    --dark-color: rgba(85, 130, 7, 0.8);
    --dark-accent: rgba(33, 51, 1, 0.8);
    --light-color: PapayaWhip;
    --secondary-base: rgb(60, 60, 60);
    --gradient-color:
}

html, body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
    scroll-behavior: smooth;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Rosarivo', cursive, sans-serif;
    box-sizing: border-box;
    outline: 0;
}

h1,
h2 {
    font-family: 'Salsa', cursive, sans-serif;
}

p,
h3 {
    font-family: "Rosarivo", 'Times New Roman', Times, serif;
}

main{
    /*from portfolio styling*/
    font-size: 1.2rem;
    line-height: 1.2;
}

/*Zoom Image Styling*/
body {
    height: 300vh;
    display: flex;
    align-items: flex-start; /* Align items to the top */
    justify-content: center;
    background: linear-gradient(var(--base-color), 40%, #152b19);
    color: var(--light-color);
}

.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

img {
    position: absolute;
    top: 0;
    /* Ensure images start from the top */
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/**HEADER STYLING*/


.header-text {
    margin-top: 45vh;
    font-size: 30px;
    text-align: left;
    padding-left: 15%;
    position: relative;
    z-index: 10; /*CHANGE TO 4 LATER */
}

.header-text h1 {
    font-size: 80px;
    margin-bottom: 0;
    color: inherit;
    /* Ensure text color is always displayed */
    background-blend-mode: multiply;
    /* Blend background image with text color */
    color: var(--dark-color);
    background-image: url('images/headerImage/textGradient.png');
    background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-position: center; /* Center the background image */
    background-size: cover; /* Ensure the image covers the entire text */
}
