/*Zoom Image Styling*/
.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

img {
    position: absolute;
    top: 0;
    /* Ensure images start from the top */
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/**HEADER STYLING*/


.header-text {
    margin-top: 45vh;
    font-size: 30px;
    text-align: left;
    padding-left: 15%;
    position: relative;
    z-index: 10; /*CHANGE TO 4 LATER */
}

.header-text h1 {
    font-size: 80px;
    margin-bottom: 0;
    color: inherit;
    /* Ensure text color is always displayed */
    background-blend-mode: multiply;
    /* Blend background image with text color */
    color: var(--dark-color);
    background-image: url('images/headerImage/textGradient.png');
    background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-position: center; /* Center the background image */
    background-size: cover; /* Ensure the image covers the entire text */
}
