/*Zoom Image Styling*/

.hcontainer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#header img {
    position: absolute;
    top: 0; /* Ensure images start from the top */
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/**HEADER STYLING*/


.header-text {
    margin-top: 45vh;
    font-size: 30px;
    text-align: left;
    padding-left: 15%;
    position: relative;
    z-index: 10; /*CHANGE TO 4 LATER */
}

.header-text h1 {
    font-size: 80px;
    margin-bottom: 0;
    color: inherit;
    /* Ensure text color is always displayed */
    background-blend-mode: multiply;
    /* Blend background image with text color */
    color: var(--dark-color);
    background-image: url('images/headerImage/textGradient.png');
    background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-position: center; /* Center the background image */
    background-size: cover; /* Ensure the image covers the entire text */
}

.subtitles li {
	list-style: none;
}
  
  /* Make the first list item visible 
  .subtitles:first-child {
    opacity: 1;
  }*/

  .header-text .button{
    opacity: 0; /* This will be changed with GSAP animation */
    display: block;
    position: absolute; /* Position the button absolutely within the header-text */
    top: 50%; /* Position it at the vertical center */
    transform: translateY(-50%); /* Adjust to perfectly center vertically */
    margin: 0;
    width: fit-content;
    outline: 2px solid var(--dark-color);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--dark-color);
    background-color: var(--base-color);
    transition: background-color 0.5s;
}

.header-text .button:hover{
    background-color: var(--dark-color);
    color: var(--light-color);
}