.title {
    color: var(--zeus);
    font-family: var(--font-family-pedestriamvb-bold);
    font-size: 75%;
    font-weight: 700;
    left: 0;
    letter-spacing: -10.04px;
    line-height: 251px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
}

.developer-artist-designer {
    color: var(--zeus);
    font-family: var(--font-family-pedestriamvb-regular);
    font-size: 74px;
    font-weight: 400;
    left: 252px;
    letter-spacing: 0;
    line-height: 74px;
    position: absolute;
    text-align: center;
    top: 232px;
    white-space: nowrap;
}

.overlap-group7 {
    height: 322px;
    margin-left: 2.0px;
    margin-top: 182px;
    position: relative;
    width: 100%;
  }